*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.photos{
  height: auto;
  width: auto;
  background-color: white;
  margin: 1rem 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
  flex-direction: column;
  padding-bottom: 1rem;
}

.flickity-enabled {
  position: relative;
}
.flickity-enabled:focus {
  outline: none;
}
.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.flickity-slider {
  margin: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  /* gap: 5rem ; */
  display: flex;  
}
element.style{
  height: 600px !important;
  width: 86rem !important;
  margin: 0rem 4rem !important ;
}

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}
.flickity-button:hover {
  background: white;
  cursor: pointer;
}
.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}
.flickity-button:active {
  opacity: 0.6;
}
.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}
.flickity-button-icon {
  fill: #333;
}
/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}
.flickity-prev-next-button.previous {
  left: -28px;
  width: 1.5rem;
  height: 1.5rem;
}
.flickity-prev-next-button.next {
  right: -28px;
  width: 1.5rem;
  height: 1.5rem;
}
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}
.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}
/* ---- page dots ---- */
.flickity-page-dots {
  display: none !important;
  position: absolute;
  width: 100%;
  bottom: -20px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}
.flickity-rtl .flickity-page-dots {
  direction: rtl;
}
.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}
.flickity-page-dots .dot.is-selected {
  opacity: 1;
}
/* Carousel.css */
.carousel-group {
  display: flex;
  justify-content: space-between;
}

.slide1 {
  width: 19rem;
  height: 13rem;
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
 /* Adjust the margin between slides as needed */
}

/* Optional: Apply styles to the Flickity container */
.flickity-viewport {
  overflow: hidden;
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
}

@media (min-width :349px) and (max-width:499px) {
  .our{
      font-size: 1.8rem;
  }
  .slide1{
      width: 15rem;
      height: 10rem;
  }
  .ph-info{
      font-size: 1rem;
      text-align: center;
  }
  .aj{
      font-size: 1.2rem;
      text-align: center;
  }
  .flickity-prev-next-button.previous {
      left: -8px;
      width: 1.5rem;
      height: 1.5rem;
    }
    .flickity-prev-next-button.next {
      right: -8px;
      width: 1.5rem;
      height: 1.5rem;
    }
}
@media (min-width :250px) and (max-width:349px) {
  .our{
      font-size: 1.8rem;
  }
  .slide1{
      width: 10rem;
      height: 8rem;
  }
  .ph-info{
      font-size: 0.8rem;
      text-align: center;
  }
  .aj{
      font-size: 1rem;
      text-align: center;
  }
  .flickity-prev-next-button.previous {
      left: -14px;
      width: 1.5rem;
      height: 1.5rem;
    }
    .flickity-prev-next-button.next {
      right: -14px;
      width: 1.5rem;
      height: 1.5rem;
    }
    element.style {
      height: 345.188px !important;
      touch-action: pan-y;
  }

}