/* FAQ.css */

.faq-item {
    position: relative;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    /* width: 100%; */
    cursor: pointer;
    margin: 0.5rem 4.7rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 0px rgb(202, 198, 198);
    padding: 0.5rem 0rem;

  } 
  .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(64, 62, 62); 
  }
  .arrow {
    margin-left: 10px;
  }
  
  .arrow.open {
    margin-left: auto;
  }
  
  .answer {
    padding: 0.5rem ;
    font-size: 1.1rem;
  }